:root {
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  --selectedTextBlue: rgb(45, 102, 207);
  --bg-img-dark: url(assets/images/bg-desktop-dark.jpg);
  --bg-img-light: url(assets/images/bg-desktop-light.jpg);
  /* Dark Theme */
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlue_hover: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryVeryDarkGrayishBlue: hsl(237, 14%, 26%);
  --DarkBg: #15151F;
  --Dark-list-bg: hsl(237, 14%, 26%);
  --Dark-menu-color: hsla(234, 39%, 85%, 0.39);
  --Dark-menu-color_hover: hsla(234, 39%, 85%, 1);
  /* transitionTime */
  --ShortTransTime: 250ms;
  --LongTransTime: 600ms;
}

@font-face {
  font-family: 'JosefinSans400';
  src: url('./assets/Josefin_Sans/static/JosefinSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinSans700';
  src: url('./assets/Josefin_Sans/static/JosefinSans-Bold.ttf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-family: 'JosefinSans400';
  font-size: 18px;
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image:  url(assets/images/bg-desktop-light.jpg);
  background-position: top;
  background-repeat: no-repeat;
  transition: background-image var(--ShortTransTime) ease-in-out, background-color var(--ShortTransTime) ease-in-out;
}
body.darkMode {
  background-image:  url(assets/images/bg-desktop-dark.jpg);
  background-color: var(--DarkBg);
}

form {
  margin-top: 3.5rem;
}

#todo__container {
  width: 50%;
  transition: width var(--LongTransTime) ease-in-out;
  align-self: center;
}

/* HEADER */
#todo__container header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0em;
  border-radius: 16px;
}

#todo__container header h1 {
  color: white;
  font-family: 'JosefinSans400';
  letter-spacing: 0.5em;
  animation: stretchText 2000ms ease-in;
}
#todo__container header input[type='checkbox'] {
  visibility: hidden;
}
#todo__container .toggleWrapper {
  position: relative;
  cursor: pointer;
}
#todo__container header .moonImg,
#todo__container header .sunImg {
  position: absolute;
  top: 0;
  left: 0;
}

/* FORM INPUT */
#todo__container .inputContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 6px;
  margin-bottom: 1rem;
  transition: background-color var(--ShortTransTime) ease-in-out;
}
#todo__container.darkMode .inputContainer {
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--LightGrayishBlue);
}

#todo__container .inputContainer button {
  display: none;
}
#todo__container .circleContainer {
  margin: 0 1.25rem;
}
#todo__container .circleGrey {
  --circleDiameter: 20px;
  content: 'circle';
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  border-radius: 50%;
  border: 2px solid #80808040;
}
#todo__container .inputContainer input[type='text'] {
  width: 100%;
  height: 100%;
  font-family: 'JosefinSans400';
  font-size: 18px;
  padding: 0 0.5em;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: inherit;
  color: inherit;
}

#todo__container .listContainer #noItems {
  display: flex;
  justify-content: center;
}

#todo__container .listContainer,
#todo__container menu {
  box-shadow: 0 6px 15px rgba(92, 87, 94, 0.267);
  transition: box-shadow var(--ShortTransTime) ease-in-out;
}
#todo__container.darkMode .listContainer,
#todo__container.darkMode menu {
  box-shadow: 0 10px 15px  rgb(0, 0, 0);
}
#todo__container .listContainer {
  list-style: none;
  border-radius: 6px 6px 0 0;
  transition: height var(--ShortTransTime) ease-in-out;
  background-color: white;
  color: var(--DarkGrayishBlue);
  transition: background-color var(--ShortTransTime) ease-in-out, height var(--ShortTransTime) ease-in-out;
}
#todo__container .listContainer.darkMode {
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--LightGrayishBlue);
}
#todo__container .listContainer ul:first-of-type {
  border-radius: 6px 6px 0 0;
}
#todo__container .listItem {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #80808040;
  color: inherit;
  cursor: grab;
  opacity: 1;
  overflow: scroll;
}
#todo__container .listItem .listTitle {
  overflow: hidden;
  white-space:pre-wrap;
  line-height: 1.5em;
  padding: .3em 0;
  margin-right: 1rem;
  text-overflow: ellipsis;
  text-decoration: none;
}
#todo__container .listItem .listTitle.lineThrough {
  text-decoration: line-through;
  opacity: .35;
}
#todo__container .listItem .listTitle::-webkit-scrollbar { 
  width: 0;
}

/* Dragging styles  */
#todo__container .listItem.dragStart,
#todo__container .listItem.darkMode.dragStart {
  color: white;
  border: none;
  cursor: grabbing;
}
#todo__container .listItem.drag {
  cursor: grabbing;
  
}

#todo__container .listItem.drag:active {
  cursor: grabbing;
}
#todo__container .listItem.dragStart {
  background-color: rgba(124, 141, 235, 0.89);
}
#todo__container .listItem.darkMode.dragStart {
  background-color: rgba(91, 42, 216, 0.781);
}
#todo__container .listItem.dragStart button {
  border-color: white;
}
#todo__container .listItem.drag {
  opacity: 0.2;
}

.dragOver {
  background-color: rgba(124, 141, 235, 0.582);
}
.dragOver > * {
  color: whitesmoke;
}
.dragOver.darkMode {
  background-color: rgba(91, 42, 216, 0.507);
}
.dragOver > * {
  color: whitesmoke;
}


#todo__container .listButton {
  --circleDiameter: 20px;
  content: 'circle';
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  border-radius: 50%;
  border: 2px solid #80808040;
  background: none;
  cursor: pointer;
}
#todo__container .listButton:hover {
  --circleDiameter: 24px;
  content: 'circle';
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  border: none;
  background: linear-gradient(150deg, rgb(224, 223, 223), rgb(66, 66, 66));
}
#todo__container .listButtonDone {
  --circleDiameter: 24px;
  content: 'circle';
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: linear-gradient(150deg, rgb(87, 221, 255), rgb(192, 88, 243));
  text-decoration: line-through;
}
#todo__container .listButtonDone:hover {
  box-shadow: 0 0 2px 0 hsla(279, 87%, 15%, 0.685);
}
#todo__container .deleteButton {
  background: none;
  padding: 1em 0.5em;
  border: none;
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
#todo__container .deleteButtonX {
  background: white;
  border: none;
  width: 20px;
  height: 1px;
  transform: rotate(-45deg);
  font-size: 2rem;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  position: relative;
}
#todo__container .deleteButtonX::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background: white;
  transform: translate(-50%, 0) rotate(-90deg);
} 
#todo__container .listItem:hover .deleteButton {
  opacity: 1;
}


#todo__container menu {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  justify-items: center;
  align-items: center;
  font-size: 14px;
  padding: 1.25em 1em;
  background-color: white;
  border-radius: 0 0 6px 6px;
  transition: background-color var(--ShortTransTime) ease-in-out;
  color: var(--DarkGrayishBlue);
}
#todo__container.darkMode menu {
  background-color: var(--VeryDarkDesaturatedBlue);
  color: hsla(234, 39%, 85%, 0.39);
}

#todo__container menu .filter {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  padding-left: 1em;
}

#todo__container menu .filter input[type='radio'] {
  visibility: hidden;
}
#todo__container menu .filter label {
  text-transform: capitalize;
  cursor: pointer;
  color: var(--DarkGrayishBlue);
}
#todo__container.darkMode menu .filter label {
  color: var(--Dark-menu-color);
}
#todo__container menu .filter label:hover {
  color: var(--VeryDarkGrayishBlue);
}
#todo__container.darkMode menu .filter label:hover {
  color: var(--Dark-menu-color_hover);
}
#todo__container menu .filter input:checked+span {
  color: var(--selectedTextBlue);
}
#todo__container menu button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'JosefinSans400';
}
#todo__container menu button:hover  {
  color: var(--VeryDarkGrayishBlue);
}
#todo__container.darkMode menu button:hover {
  color: hsla(234, 39%, 85%,1);
}
#todo__container menu button:active, 
#todo__container.darkMode menu button:active {
  color: var(--selectedTextBlue);
}

/* Mobile Menu */

#todo__container .mobileMenu {
  display: none;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 8px;
}
#todo__container .mobileMenu .filter {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0 2rem;
  text-align: center;
  padding: 0;
}

.pageInfo {
  margin-top: 2.5rem;
  font-size: .8rem;
  text-align: center;
  color: var(--DarkGrayishBlue);
}


/* Animations */

@keyframes stretchText {
  from {
    opacity: 0;
    letter-spacing: 1.5em;
  }
  to {
    opacity: 1;
    letter-spacing: 0.5em;
  }
}

/* Media queries */


@media screen and (max-width: 812px) {
  #todo__container {
    width: 75%;
  }
}
@media screen and (max-width: 550px) {
  #todo__container {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  #todo__container menu {
    display: flex;
    justify-content: space-between;
  }
  #todo__container .mobileMenu {
    display: flex;
  }
}
