/* ### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 400, 700 */


@font-face {
  font-family: 'JosefinSans400';
  src: url('./assets/Josefin_Sans/static/JosefinSans-Regular.ttf');
  font-weight: normal;
}
@font-face{
  font-family: 'JosefinSans700';
  src: url('./assets/Josefin_Sans/static/JosefinSans-Bold.ttf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-size: 18px;
  height: 100%;
}

body {
  width: 100%;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: center;
}

form {
  background-color: rgb(121, 121, 121);
}

#todo__container {
  width: 50%;
}

#todo__container header {
  display: flex;
  justify-content: space-between;
  padding: 2em .25em;
  border-radius: 16px;
}

#todo__container header h1 {
  color: white;
  font-family: "JosefinSans400";
  letter-spacing: .5em;
}

#todo__container header input[type="checkbox"] {
  visibility: hidden;
}
#todo__container .toggleWrapper {
  position: relative;
}
#todo__container header .moonImg, 
#todo__container header .sunImg {
  position: absolute;
  top: 0;
  left: 0;
}

#todo__container .inputContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

#todo__container menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listContainer {
  list-style: none;
}

.listItem {
  display: flex;
  justify-content: left;
  align-items: center;
}