/* ### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 400, 700 */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-size: 18px;
}

body {
  background-color: rgb(190, 190, 190);
}

form {
  background-color: rgb(121, 121, 121);
  width: 50%;
  height: 100%;
}

#todo__container {
}

#todo__container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo__container header h1 {
}

#todo__container header svg {
}

#todo__container .toggleWrapper {
  width: 100px;
  height: 50px;
  background: rgb(219, 112, 112);
}

#todo__container .inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo__container menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .circle {
}
form input {
}
.listItem {
}

.listTitle {
}

.listButton {
}