/* ### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 400, 700 */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-size: 18px;
}

body {
  background: white url(images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: top;
  font-family: 'Josefin Sans', sans-serif;
}

.todo__container {
  /* background: whitesmoke; */
  /* width: minmax(250px, 40vw); */
  width: 36vw;
  height: 80vh;
  margin: 5rem auto;
}

.todo__container header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 2rem;
}

.todo__container header h1 {
  grid-column: 1/2;
  letter-spacing: .5em;
  font-weight: 700;
  color: white;
  background: transparent;
}

.todo__container header svg {
  justify-self: end;
}

form, 
.listItem {
  background: rgb(255, 255, 255);
  width: 100%;
  border-radius: .25em;
  display: grid;
  grid-template-columns: 15% 85%;
}

form .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  border: 2px solid rgba(192, 192, 192, 0.596);
  background: none;
}
form input {
  border: none;
  border-radius: 0 .25em .25em 0;
  padding: 1em;
  font-size: 1rem;
  width: 85%;
}
.listItem {
  padding: 1em 0;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 15% 85%;
  background: rgb(214, 214, 214);
}

.listTitle {
  color: #757575;
  margin-left: 1rem;
}

.listButton {
  border-radius: 50%;
  border: none;
  background-color: #757575 ;
  width: 1rem;
  height: 1rem;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}